{
  auto_https off
  admin off
}

https://www.nextdeploy.one {
  # Public directory assets
  handle /public/* {
    root * .nextdeploy/static
    file_server
    header {
      Cache-Control "public, max-age=31536000, immutable"
    }
  }

  # Next.js static assets
  handle /_next/static/* {
    root * .next/static
    file_server
    header {
      Cache-Control "public, max-age=31536000, immutable"
    }
  }

  reverse_proxy http://nextdeploy-19edb9a:%!d(string=3000) {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Real-IP {remote}
    transport http {
      keepalive 32
      keepalive_interval 30s
    }
  }
}
