@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15% 98%;
    --foreground: 240 15% 10%;
    --card: 240 15% 98%;
    --card-foreground: 240 15% 10%;
    --popover: 240 15% 98%;
    --popover-foreground: 240 15% 10%;

    --primary: 240 100% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 252 100% 88%;
    --secondary-foreground: 240 15% 10%;

    --muted: 240 20% 95%;
    --muted-foreground: 240 10% 40%;

    --accent: 260 100% 70%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 80% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 90%;
    --input: 240 15% 90%;
    --ring: 240 15% 30%;
    --radius: 0.5rem;

    --chart-1: 250 80% 60%;
    --chart-2: 255 85% 70%;
    --chart-3: 260 90% 80%;
    --chart-4: 265 95% 90%;
    --chart-5: 270 100% 95%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 15% 90%;
    --card: 240 10% 10%;
    --card-foreground: 240 15% 90%;
    --popover: 240 10% 10%;
    --popover-foreground: 240 15% 90%;

    --primary: 240 100% 70%;
    --primary-foreground: 240 15% 10%;

    --secondary: 252 100% 30%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 10% 15%;
    --muted-foreground: 240 10% 60%;

    --accent: 260 100% 75%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 240 10% 70%;

    --chart-1: 250 80% 60%;
    --chart-2: 255 85% 70%;
    --chart-3: 260 90% 80%;
    --chart-4: 265 95% 90%;
    --chart-5: 270 100% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

.text-gradient_indigo-purple {
  background: linear-gradient(90deg, #6366f1 0%, rgb(168 85 247 / 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
